<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Read-CSV-Data" data-toc-modified-id="Read-CSV-Data-1">Read CSV Data</a></span></li><li><span><a href="#Apply-Filter" data-toc-modified-id="Apply-Filter-2">Apply Filter</a></span></li></ul></div>

# Read Data frames from CSV and Apply filters

In [1]:
# Create connection
import pyspark
from pyspark.sql  import SparkSession
spark = SparkSession.builder.appName('Algae').getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000024DE10465F8>

#### Read CSV Data

In [28]:
Spark SQL provides spark.read.csv("path") to read a CSV file into Spark DataFrame 
Spark SQL provides dataframe.write.csv("path") to save or write to the CSV file. 
To read multiple files, spark.read.csv("path1,path2,path3")
To pass multiple options like delimeter, user defined structure we can use additionla functions like options

SyntaxError: invalid syntax (<ipython-input-28-4d4fa3591787>, line 1)

In [20]:
# Let Spark know about the header and infer the Schema types!
df = spark.read.csv('appl_stock.csv')

In [21]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [22]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|       _c0|               _c1|               _c2|               _c3|               _c4|      _c5|               _c6|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [2]:
# Let Spark know about the infer the Schema types!
df = spark.read.csv('appl_stock.csv',inferSchema=True)
#when setting inferSchema to true it automatically infers column types based on the data. Default its false

In [3]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [24]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|       _c0|               _c1|               _c2|               _c3|               _c4|      _c5|               _c6|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [4]:
# Let Spark know about the header ,default is flase
df = spark.read.csv('appl_stock.csv',inferSchema=True,header=True)

In [5]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [27]:
df.show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

#### Apply Filter

In [31]:
# read data where value is greater than 500
df.filter("Open>500").show()

+-------------------+------------------+------------------+------------------+-----------------+---------+-----------------+
|               Date|              Open|              High|               Low|            Close|   Volume|        Adj Close|
+-------------------+------------------+------------------+------------------+-----------------+---------+-----------------+
|2012-02-14 00:00:00|        504.659988|         509.56002|        502.000008|       509.459991|115099600|        66.005408|
|2012-02-15 00:00:00|        514.259995|        526.290016|496.88998399999997|       497.669975|376530000|        64.477899|
|2012-02-17 00:00:00|        503.109993|507.77002000000005|        500.299995|        502.12001|133951300|        65.054443|
|2012-02-21 00:00:00|506.88001299999996|        514.850021|504.12000300000005|       514.850021|151398800|        66.703738|
|2012-02-22 00:00:00|        513.079994|        515.489983|509.07002300000005|       513.039993|120825600|66.46923100000001|
|2012-02-23 00:00:00|        515.079987|        517.830009|        509.499992|516.3899769999999|142006900|        66.903253|
|2012-02-24 00:00:00| 519.6699980000001|        522.899979| 518.6400150000001|522.4099809999999|103768000|        67.683203|
|2012-02-27 00:00:00|        521.309982|             528.5| 516.2800139999999|       525.760017|136895500|        68.117232|
|2012-02-28 00:00:00|        527.960014|        535.410011|        525.850006|       535.410011|150096800|69.36748100000001|
|2012-02-29 00:00:00| 541.5600049999999| 547.6100230000001|        535.700005|       542.440025|238002800|        70.278286|
|2012-03-01 00:00:00|        548.169983|        548.209984| 538.7699809999999|544.4699780000001|170817500|        70.541286|
|2012-03-02 00:00:00|        544.240013|        546.800018|        542.519974|       545.180008|107928100|        70.633277|
|2012-03-05 00:00:00|        545.420013|         547.47998|        526.000023|533.1600269999999|202281100|        69.075974|
|2012-03-06 00:00:00|        523.659996|        533.690025| 516.2199860000001|       530.259987|202559700|68.70024599999999|
|2012-03-07 00:00:00| 536.8000030000001|        537.779999|        523.299988|530.6900099999999|199630200|68.75595899999999|
|2012-03-08 00:00:00| 534.6899950000001|        542.989998|        532.120003|       541.989975|129114300|        70.219978|
|2012-03-09 00:00:00|        544.209999|        547.740013|        543.110001|       545.170021|104729800|70.63198299999999|
|2012-03-12 00:00:00| 548.9799879999999|        551.999977|        547.000023|       551.999977|101820600|        71.516869|
|2012-03-13 00:00:00|        557.540024|            568.18|        555.750023|       568.099998|172713800|73.60278100000001|
|2012-03-14 00:00:00|        578.050026|        594.719994|        575.399979|       589.580009|354711000|76.38572099999999|
+-------------------+------------------+------------------+------------------+-----------------+---------+-----------------+
only showing top 20 rows

In [34]:
# read specific columns with filter
df.filter("Open>700").select('Open','High').show()

+----------+----------+
|      Open|      High|
+----------+----------+
|700.259979|703.989998|
|702.409988|705.070023|
+----------+----------+

In [35]:
# You can also use normal python command but with all coulums
df.filter(df["Open"] > 700).show()

+-------------------+----------+----------+-----------------+----------+---------+-----------------+
|               Date|      Open|      High|              Low|     Close|   Volume|        Adj Close|
+-------------------+----------+----------+-----------------+----------+---------+-----------------+
|2012-09-19 00:00:00|700.259979|703.989998|       699.569977|702.100021| 81718700|91.35431700000001|
|2012-09-21 00:00:00|702.409988|705.070023|699.3599849999999|700.089989|142897300|         91.09278|
+-------------------+----------+----------+-----------------+----------+---------+-----------------+

In [52]:
df.filter(df["Low"] == 197.16).show()

+-------------------+------------------+----------+------+------+---------+---------+
|               Date|              Open|      High|   Low| Close|   Volume|Adj Close|
+-------------------+------------------+----------+------+------+---------+---------+
|2010-01-22 00:00:00|206.78000600000001|207.499996|197.16|197.75|220441900|25.620401|
+-------------------+------------------+----------+------+------+---------+---------+

In [53]:
# Collecting results as Python objects
df.filter(df["Low"] == 197.16).collect()

[Row(Date=datetime.datetime(2010, 1, 22, 0, 0), Open=206.78000600000001, High=207.499996, Low=197.16, Close=197.75, Volume=220441900, Adj Close=25.620401)]

In [ ]:
# logical operators in filter

In [ ]:
# Make sure to add in the parenthesis separating the statements!
# if you use dataframe[column] then you shoud use symbol  '&' for 'and', '|' for 'or', '~' for 'not
# if you use column then logiocal operator might not work

In [39]:
df.filter( (df["Close"] < 200) & (df['Open'] > 200) ).show()

+-------------------+------------------+----------+----------+----------+---------+------------------+
|               Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+-------------------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22 00:00:00|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-28 00:00:00|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
+-------------------+------------------+----------+----------+----------+---------+------------------+

In [43]:
# Make sure to add in the parenthesis separating the statements!
df.filter( (("Open>200") and ("Open<200")) ).select('Open','High').show()

##YES ITS NOT GONA GIVE CORRECT OUTPUT##

+------------------+------------------+
|              Open|              High|
+------------------+------------------+
|192.36999699999998|             196.0|
|        195.909998|        196.319994|
|        195.169994|        200.200003|
|        196.730003|        198.370001|
|192.63000300000002|             196.0|
|        195.690006|197.88000300000002|
|        196.419996|        197.499994|
|        195.889997|             196.6|
|        194.880001|        199.750006|
|        198.109995|        201.639996|
|        199.999998|        201.330002|
|        198.229998|201.44000400000002|
|        197.380005|        202.859997|
|         92.699997|         93.879997|
|         94.730003|         95.050003|
|         94.129997|         94.760002|
|         94.040001|         94.120003|
|         92.199997|         92.440002|
|         91.510002|             92.75|
|         92.309998|         92.699997|
+------------------+------------------+
only showing top 20 rows

In [50]:
# Make sure to add in the parenthesis separating the statements!
df.filter( (df["Close"] < 91) | (df['Open'] > 700) ).show()

+-------------------+----------+-----------------+-----------------+-----------------+---------+-----------------+
|               Date|      Open|             High|              Low|            Close|   Volume|        Adj Close|
+-------------------+----------+-----------------+-----------------+-----------------+---------+-----------------+
|2012-09-19 00:00:00|700.259979|       703.989998|       699.569977|       702.100021| 81718700|91.35431700000001|
|2012-09-21 00:00:00|702.409988|       705.070023|699.3599849999999|       700.089989|142897300|         91.09278|
|2014-06-20 00:00:00| 91.849998|        92.550003|        90.900002|        90.910004|100898000|        86.259066|
|2014-06-23 00:00:00|     91.32|        91.620003|        90.599998|90.83000200000001| 43694000|        86.183157|
|2014-06-24 00:00:00|     90.75|        91.739998|        90.190002|        90.279999| 39036000|        85.661292|
|2014-06-25 00:00:00| 90.209999|        90.699997|        89.650002|        90.360001| 36869000|        85.737201|
|2014-06-26 00:00:00| 90.370003|        91.050003|        89.800003|        90.900002| 32629000|        86.249576|
|2016-05-12 00:00:00| 92.720001|        92.779999|        89.470001|        90.339996| 76314700|         89.00837|
|2016-05-13 00:00:00|      90.0|91.66999799999999|             90.0|        90.519997| 44392800|89.18571700000001|
+-------------------+----------+-----------------+-----------------+-----------------+---------+-----------------+

In [51]:
# Make sure to add in the parenthesis separating the statements!
df.filter( (df["Close"] > 700) & ~(df['Open'] < 200) ).show()

+-------------------+----------+----------+-----------------+----------+---------+-----------------+
|               Date|      Open|      High|              Low|     Close|   Volume|        Adj Close|
+-------------------+----------+----------+-----------------+----------+---------+-----------------+
|2012-09-18 00:00:00|699.879997|702.329987|696.4199980000001|701.910004| 93375800|        91.329593|
|2012-09-19 00:00:00|700.259979|703.989998|       699.569977|702.100021| 81718700|91.35431700000001|
|2012-09-21 00:00:00|702.409988|705.070023|699.3599849999999|700.089989|142897300|         91.09278|
+-------------------+----------+----------+-----------------+----------+---------+-----------------+

In [54]:
result = df.filter(df["Low"] == 197.16).collect()

In [55]:
type(result[0])

pyspark.sql.types.Row

In [56]:
row = result[0]

In [57]:
#Rows can be  turn into dictionaries
row.asDict()

{'Date': datetime.datetime(2010, 1, 22, 0, 0),
 'Open': 206.78000600000001,
 'High': 207.499996,
 'Low': 197.16,
 'Close': 197.75,
 'Volume': 220441900,
 'Adj Close': 25.620401}

In [58]:
for item in result[0]:
    print(item)

2010-01-22 00:00:00
206.78000600000001
207.499996
197.16
197.75
220441900
25.620401