# Connect Python to SQL Server

In [ ]:
/***************Pre-requisite****************************/
Make sure to install pyodbc
Pip install pyodbc

/***************Run these steps directly on sql server*****************/

Create Database Algae
GO
Use Algae
GO
Create table emp (name varchar (100), age int)
Go
Insert into Emp values
('Ravi', 26),
('Nandini', 23),
('Nikita',24)

# Syntax To Create Connection
import pyodbc

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=Please_Update_Actual_SQL_Server_name;'
                      'Database=AdventureWorks2012;'
                      'Trusted_Connection=yes;')

In [8]:
import pyodbc

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=PTBLR11412\SQL2019;'
                      'Database=Algae;'
                      'Trusted_Connection=yes;')

In [4]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Algae].[dbo].[emp]')

In [4]:
for row in cursor:
    print(row)

('Ravi', 26)
('Nandini', 23)
('Nikita', 24)

In [6]:
# Create connection
import pyspark
from pyspark.sql  import SparkSession
spark = SparkSession.builder.appName('Algae').getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000020D2A7036D8>

### Pull SQL Data in Pandas Dataframe

In [10]:
import pandas as pd
query = 'SELECT * FROM [Algae].[dbo].[emp]'
pdf = pd.read_sql(query, conn)

In [11]:
print(pdf)

      name  age
0     Ravi   26
1  Nandini   23
2   Nikita   24

### Convert pandas dataframe to Spark Data frame

In [13]:
sparkDF =  spark.createDataFrame(pdf)
sparkDF.show()

+-------+---+
|   name|age|
+-------+---+
|   Ravi| 26|
|Nandini| 23|
| Nikita| 24|
+-------+---+