# Convert Data Type in  PySpark

Lets create Json data first.
Create a file with extension "i am using emp.json"
Copy below data in file

{"name":"Deepak"}
{"name":"Amit"}
{"name":"Rudra", "age":20}
{"name":"Parul", "age":21}
{"name":"Sikha", "age": 20,"salary":200}

In [1]:
# Create connection
import pyspark
from pyspark.sql  import SparkSession
spark = SparkSession.builder.appName('Algae').getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x00000158183F65F8>

In [10]:
# read Josn file
df = spark.read.json('emp.json')
df.show()

+----+------+------+
| age|  name|salary|
+----+------+------+
|null|Deepak|  null|
|null|  Amit|  null|
|  20| Rudra|  null|
|  21| Parul|  null|
|  20| Sikha|   200|
+----+------+------+

In [11]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [12]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

Next we need to create the list of Structure fields

* :param name: string, name of the field.
* :param dataType: :class:`DataType` of the field.
* :param nullable: boolean, whether the field can be null (None) or not.

In [13]:
data_schema = [StructField("age", IntegerType(), True),StructField("name", StringType(), True)]

In [14]:
final_struc = StructType(fields=data_schema)

In [15]:
df = spark.read.json('emp.json', schema=final_struc)

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df.show()

+----+------+
| age|  name|
+----+------+
|null|Deepak|
|null|  Amit|
|  20| Rudra|
|  21| Parul|
|  20| Sikha|
+----+------+

Another Example

In [ ]:
Lets create Json data first. Create a file with extension "i am using emp.json" Copy below data in file

{"name":"Deepak"} {"name":"Amit"} {"name":"Rudra", "age":21.5} {"name":"Parul", "age":21.5} {"name":"Sikha", "age": 20.5,"salary":200}

In [13]:
# read Josn file
df = spark.read.json('emp1.json')
df.show()

+----+------+------+
| age|  name|salary|
+----+------+------+
|null|Deepak|  null|
|null|  Amit|  null|
|21.5| Rudra|  null|
|21.0| Parul|  null|
|20.5| Sikha|   200|
+----+------+------+

In [14]:
df.printSchema()

root
 |-- age: double (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [15]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [16]:
data_schema = [StructField("age", IntegerType(), True),StructField("name", StringType(), True)]

In [18]:
final_struc = StructType(fields=data_schema)

In [19]:
df = spark.read.json('emp1.json', schema=final_struc)

In [20]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [21]:
df.show()

+----+------+
| age|  name|
+----+------+
|null|Deepak|
|null|  Amit|
|null|  null|
|  21| Parul|
|null|  null|
+----+------+