<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Create-array-of-names-and-publish-name-and-length-of-each-name" data-toc-modified-id="Create-array-of-names-and-publish-name-and-length-of-each-name-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Create array of names and publish name and length of each name</a></span></li><li><span><a href="#Create-array-of-names-and-find-max,-min,-standard-deviation,-variance-of-length-of-each-element-in-array" data-toc-modified-id="Create-array-of-names-and-find-max,-min,-standard-deviation,-variance-of-length-of-each-element-in-array-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create array of names and find max, min, standard deviation, variance of length of each element in array</a></span></li><li><span><a href="#Conncet-to-SQL-sever-and-retrive-the-data-and-store-in-PySpark-df" data-toc-modified-id="Conncet-to-SQL-sever-and-retrive-the-data-and-store-in-PySpark-df-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Conncet to SQL sever and retrive the data and store in PySpark df</a></span></li><li><span><a href="#Use-data-set-“ocp_data.tsv”-attached-in-sheet-(data-is-delimited-with-tab-space)" data-toc-modified-id="Use-data-set-“ocp_data.tsv”-attached-in-sheet-(data-is-delimited-with-tab-space)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Use data set “ocp_data.tsv” attached in sheet (data is delimited with tab space)</a></span><ul class="toc-item"><li><span><a href="#List-no.-of-shows-per-year" data-toc-modified-id="List-no.-of-shows-per-year-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>List no. of shows per year</a></span></li><li><span><a href="#List-no.-of-shows-per-year-for-every-occupation" data-toc-modified-id="List-no.-of-shows-per-year-for-every-occupation-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>List no. of shows per year for every occupation</a></span></li><li><span><a href="#Find-top-occupation-for-every-year." data-toc-modified-id="Find-top-occupation-for-every-year.-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Find top occupation for every year.</a></span></li><li><span><a href="#Which-guest-have-attended-maximum-shows" data-toc-modified-id="Which-guest-have-attended-maximum-shows-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Which guest have attended maximum shows</a></span></li><li><span><a href="#List-occupation-under-each-group" data-toc-modified-id="List-occupation-under-each-group-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>List occupation under each group</a></span></li><li><span><a href="#How-many-show-per-group-of-year-and-occupation" data-toc-modified-id="How-many-show-per-group-of-year-and-occupation-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>How many show per group of year and occupation</a></span></li></ul></li></ul></div>

Name: **Goutham Kumar R**<br/>
Roll no.: **D20015**<br/>
Assignment: BDSN - PySpark End term Assignment

## Create array of names and publish name and length of each name

In [91]:
#Creating Plain RDD
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
array = ['Goutham Kumar','Jim','Pranesh','Balaji','Rekha', 'Roopa', 'Ammu']
a = sc.parallelize(array)
a.collect()

['Goutham Kumar', 'Jim', 'Pranesh', 'Balaji', 'Rekha', 'Roopa', 'Ammu']

In [92]:
len(array)

7

In [93]:
#Length of names
a.map(lambda x:[x,len(x)]).collect()

[['Goutham Kumar', 13],
 ['Jim', 3],
 ['Pranesh', 7],
 ['Balaji', 6],
 ['Rekha', 5],
 ['Roopa', 5],
 ['Ammu', 4]]

In [3]:
#using dataframe to display it properly
namesdf = sqlContext.createDataFrame([("Goutham Kumar",),("Jim",),("Pranesh",),("Balaji",),("Rekha",),("Roopa",),("Ammu",)],["Names"])
namesdf.show()

+-------------+
|        Names|
+-------------+
|Goutham Kumar|
|          Jim|
|      Pranesh|
|       Balaji|
|        Rekha|
|        Roopa|
|         Ammu|
+-------------+

In [4]:
#using length fn
from pyspark.sql.functions import length
namesLengthsDF = namesdf.select('names', length('names').alias('length_of_names')) # transformation
namesLengthsDF.show()  #action

+-------------+---------------+
|        names|length_of_names|
+-------------+---------------+
|Goutham Kumar|             13|
|          Jim|              3|
|      Pranesh|              7|
|       Balaji|              6|
|        Rekha|              5|
|        Roopa|              5|
|         Ammu|              4|
+-------------+---------------+

## Create array of names and find max, min, standard deviation, variance of length of each element in array

In [94]:
#Creating Plain RDD
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
array = ['Goutham Kumar','Jim','Pranesh','Balaji','Rekha', 'Roopa', 'Ammu']
a = sc.parallelize(array)
a.collect()

['Goutham Kumar', 'Jim', 'Pranesh', 'Balaji', 'Rekha', 'Roopa', 'Ammu']

In [98]:
#Length of names
Len = a.map(lambda x:len(x))
Len.collect()

[13, 3, 7, 6, 5, 5, 4]

In [100]:
print("Max of lengths: ", Len.max())
print("Min of lengths: ", Len.min())
print("Standard Deviation of lengths: ", round(Len.sampleStdev(),2))
print("Varience of lengths: ", round(Len.variance(), 2))

Max of lengths:  13
Min of lengths:  3
Standard Deviation of lengths:  3.29
Varience of lengths:  9.27

In [16]:
from pyspark.sql.functions import mean, min, max

N_max = namesLengthsDF.select(max('length_of_names'))
N_max.show()

+--------------------+
|max(length_of_names)|
+--------------------+
|                  13|
+--------------------+

In [19]:
from pyspark.sql.functions import mean, min, max

N_min = namesLengthsDF.select(min('length_of_names'))
N_min.show()

+--------------------+
|min(length_of_names)|
+--------------------+
|                   3|
+--------------------+

In [23]:
from pyspark.sql.functions import stddev 

N_std = namesLengthsDF.select(stddev('length_of_names'))
N_std.show()

+----------------------------+
|stddev_samp(length_of_names)|
+----------------------------+
|          3.2877840272018797|
+----------------------------+

In [24]:
from pyspark.sql.functions import variance 

N_var = namesLengthsDF.select(variance('length_of_names'))
N_var.show()

+-------------------------+
|var_samp(length_of_names)|
+-------------------------+
|        10.80952380952381|
+-------------------------+

In [22]:
namesLengthsDF.describe().show()

+-------+-----+------------------+
|summary|names|   length_of_names|
+-------+-----+------------------+
|  count|    7|                 7|
|   mean| null| 6.142857142857143|
| stddev| null|3.2877840272018797|
|    min| Ammu|                 3|
|    max|Roopa|                13|
+-------+-----+------------------+

## Conncet to SQL sever and retrive the data and store in PySpark df

In [1]:
#!pip install pyodbc

Collecting pyodbc

WARNING: You are using pip version 20.3.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\goutham-rog\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

  Downloading pyodbc-4.0.30-cp39-cp39-win_amd64.whl (67 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.30

In [5]:
#!pip install pandas

Collecting pandas
  Downloading pandas-1.2.2-cp39-cp39-win_amd64.whl (9.3 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\goutham-rog\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.1-cp39-cp39-win_amd64.whl (13.7 MB)
Requirement already satisfied: six>=1.5 in c:\users\goutham-rog\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.20.1 pandas-1.2.2 pytz-2021.1

WARNING: You are using pip version 20.3.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\goutham-rog\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

https://github.com/mkleehammer/pyodbc/wiki/Connecting-to-SQL-Server-from-Windows

Showing full table

In [16]:
from pyspark import SparkContext, SparkConf, SQLContext
import pyodbc
import pandas as pd

appName = "PySpark SQL Server - via ODBC"
master = "local"

spark = sqlContext.sparkSession

database = "Assignment"
table = "dbo.emp"

conn = pyodbc.connect(f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER=GOUTHAM-ROG;DATABASE={database};Trusted_Connection=yes;')
query = f"select * from {table}"  
pdf = pd.read_sql(query, conn)
sparkDF =  spark.createDataFrame(pdf)
sparkDF.show()

+-------+---+------+
|   name|age|salary|
+-------+---+------+
|Goutham| 75|   100|
|  Roopa| 29|    50|
|  Rekha| 50|    40|
| Amrita| 66|    45|
|   Ammu| 71|    35|
| Aparna| 52|    65|
| Balaji| 62|    75|
|Pranesh| 47|    66|
|    Jim| 65|    71|
+-------+---+------+

After applying the query filter : ppl whose age >60 and getting salary > avg. salary

In [15]:
from pyspark import SparkContext, SparkConf, SQLContext
import pyodbc
import pandas as pd

appName = "PySpark SQL Server - via ODBC"
master = "local"

spark = sqlContext.sparkSession

database = "Assignment"
table = "dbo.emp"

conn = pyodbc.connect(f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER=GOUTHAM-ROG;DATABASE={database};Trusted_Connection=yes;')
query = f"select * from {table} where salary > (select avg(salary) from {table}) and age>60"  
pdf = pd.read_sql(query, conn)
sparkDF =  spark.createDataFrame(pdf)
sparkDF.show()

+-------+---+------+
|   name|age|salary|
+-------+---+------+
|Goutham| 75|   100|
| Balaji| 62|    75|
|    Jim| 65|    71|
+-------+---+------+

##  Use data set “ocp_data.tsv” attached in sheet (data is delimited with tab space)

###  List no. of shows per year

In [26]:
df = spark.read.csv("OCP_data.tsv", sep=r"\t", header=True)
df.show()

+----+-------------------------+----------+--------+--------------------+
|YEAR|GoogleKnowlege_Occupation|      Show|   Group|      Raw_Guest_List|
+----+-------------------------+----------+--------+--------------------+
|1999|                    actor|01-11-1999|  Acting|      Michael J. Fox|
|1999|                 Comedian|01-12-1999|  Comedy|     Sandra Bernhard|
|1999|       television actress|   1/13/99|  Acting|       Tracey Ullman|
|1999|             film actress|   1/14/99|  Acting|    Gillian Anderson|
|1999|                    actor|   1/18/99|  Acting|    David Alan Grier|
|1999|                    actor|   1/19/99|  Acting|     William Baldwin|
|1999|          Singer-lyricist|   1/20/99|Musician|       Michael Stipe|
|1999|                    model|   1/21/99|   Media|      Carmen Electra|
|1999|                    actor|   1/25/99|  Acting|     Matthew Lillard|
|1999|        stand-up comedian|   1/26/99|  Comedy|         David Cross|
|1999|                  actress|   1/27/99|  Acting|      Yasmine Bleeth|
|1999|                    actor|   1/28/99|  Acting|       D. L. Hughley|
|1999|       television actress|  10/18/99|  Acting|    Rebecca Gayheart|
|1999|                 Comedian|  10/19/99|  Comedy|       Steven Wright|
|1999|                  actress|  10/20/99|  Acting|       Amy Brenneman|
|1999|                  actress|  10/21/99|  Acting|     Melissa Gilbert|
|1999|                  actress|  10/25/99|  Acting|      Cathy Moriarty|
|1999|                 comedian|  10/26/99|  Comedy|      Louie Anderson|
|1999|                  actress|  10/27/99|  Acting|Sarah Michelle Ge...|
|1999|        Singer-songwriter|  10/28/99|Musician|           Melanie C|
+----+-------------------------+----------+--------+--------------------+
only showing top 20 rows

In [27]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- GoogleKnowlege_Occupation: string (nullable = true)
 |-- Show: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Raw_Guest_List: string (nullable = true)

In [35]:
print("Year and the corresponding no. of shows:")
sorted(df.groupBy(["YEAR"]).count().collect())

Year and the corresponding no. of shows:

[Row(YEAR='1999', count=166),
 Row(YEAR='2000', count=169),
 Row(YEAR='2001', count=157),
 Row(YEAR='2002', count=159),
 Row(YEAR='2003', count=166),
 Row(YEAR='2004', count=164),
 Row(YEAR='2005', count=162),
 Row(YEAR='2006', count=161),
 Row(YEAR='2007', count=141),
 Row(YEAR='2008', count=164),
 Row(YEAR='2009', count=163),
 Row(YEAR='2010', count=165),
 Row(YEAR='2011', count=163),
 Row(YEAR='2012', count=164),
 Row(YEAR='2013', count=166),
 Row(YEAR='2014', count=163),
 Row(YEAR='2015', count=100)]

### List no. of shows per year for every occupation

In [37]:
sorted(df.groupBy(['YEAR', 'GoogleKnowlege_Occupation']).count().collect())

[Row(YEAR='1999', GoogleKnowlege_Occupation='Comedian', count=5),
 Row(YEAR='1999', GoogleKnowlege_Occupation='Comic', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='Film actor', count=2),
 Row(YEAR='1999', GoogleKnowlege_Occupation='Film director', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='Model', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='NA', count=3),
 Row(YEAR='1999', GoogleKnowlege_Occupation='Singer-lyricist', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='Singer-songwriter', count=2),
 Row(YEAR='1999', GoogleKnowlege_Occupation='Stand-up comedian', count=4),
 Row(YEAR='1999', GoogleKnowlege_Occupation='Vocalist', count=2),
 Row(YEAR='1999', GoogleKnowlege_Occupation='actor', count=53),
 Row(YEAR='1999', GoogleKnowlege_Occupation='actress', count=42),
 Row(YEAR='1999', GoogleKnowlege_Occupation='american television personality', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='comedian', count=11),
 Row(YEAR='1999', GoogleKnowlege_Occupation='director', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='film actor', count=2),
 Row(YEAR='1999', GoogleKnowlege_Occupation='film actress', count=3),
 Row(YEAR='1999', GoogleKnowlege_Occupation='film director', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='journalist', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='model', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='muppet', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='musician', count=2),
 Row(YEAR='1999', GoogleKnowlege_Occupation='pianist', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='rapper', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='rock band', count=2),
 Row(YEAR='1999', GoogleKnowlege_Occupation='singer', count=4),
 Row(YEAR='1999', GoogleKnowlege_Occupation='singer-songwriter', count=2),
 Row(YEAR='1999', GoogleKnowlege_Occupation='stand-up comedian', count=4),
 Row(YEAR='1999', GoogleKnowlege_Occupation='television actress', count=5),
 Row(YEAR='1999', GoogleKnowlege_Occupation='television host', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='television personality', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='televison actor', count=1),
 Row(YEAR='1999', GoogleKnowlege_Occupation='us senator', count=2),
 Row(YEAR='1999', GoogleKnowlege_Occupation='writer', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Band', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Film actor', count=2),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Film actress', count=2),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Filmmaker', count=2),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Former U.S. Representative', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Former United States Secretary of Labor', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Guitarist', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Journalist', count=2),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Media person', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Musician', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='NA', count=4),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Reporter', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Singer', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Singer-lyricist', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Singer-songwriter', count=2),
 Row(YEAR='2000', GoogleKnowlege_Occupation='Stand-up comedian', count=2),
 Row(YEAR='2000', GoogleKnowlege_Occupation='activist', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='actor', count=61),
 Row(YEAR='2000', GoogleKnowlege_Occupation='actress', count=29),
 Row(YEAR='2000', GoogleKnowlege_Occupation='american politician', count=5),
 Row(YEAR='2000', GoogleKnowlege_Occupation='boxer', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='businesswoman', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='comedian', count=8),
 Row(YEAR='2000', GoogleKnowlege_Occupation='comic', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='commentator', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='film actor', count=2),
 Row(YEAR='2000', GoogleKnowlege_Occupation='film actress', count=3),
 Row(YEAR='2000', GoogleKnowlege_Occupation='football player', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='former governor of nebraska', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='former mayor of cincinatti', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='former press secretary', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='former senator from kansas', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='former us senator', count=3),
 Row(YEAR='2000', GoogleKnowlege_Occupation='game show host', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='journalist', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='magician', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='model', count=2),
 Row(YEAR='2000', GoogleKnowlege_Occupation='professional wrestler', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='publisher', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='radio personality', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='rapper', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='reality show contestant', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='rock band', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='singer', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='singer-songwriter', count=3),
 Row(YEAR='2000', GoogleKnowlege_Occupation='stand-up comedian', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='television actress', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='television host', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='television personality', count=1),
 Row(YEAR='2000', GoogleKnowlege_Occupation='writer', count=4),
 Row(YEAR='2001', GoogleKnowlege_Occupation='American football quarterback', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Author', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Columnist', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Comedian', count=4),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Diplomat', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Film actor', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Film actress', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Former United States Deputy Secretary of State', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Guitarist', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Journalist', count=2),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Lawyer', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Model', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='NA', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Political satirist', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Pop group', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Professor', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Reporter', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Rock band', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Rock duo', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Screenwriter', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Singer', count=2),
 Row(YEAR='2001', GoogleKnowlege_Occupation='Stand-up comedian', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='actor', count=62),
 Row(YEAR='2001', GoogleKnowlege_Occupation='actress', count=18),
 Row(YEAR='2001', GoogleKnowlege_Occupation='american television personality', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='bass guitarist', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='broadcaster', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='chef', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='comedian', count=5),
 Row(YEAR='2001', GoogleKnowlege_Occupation='commentator', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='essayist', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='film actor', count=2),
 Row(YEAR='2001', GoogleKnowlege_Occupation='film actress', count=3),
 Row(YEAR='2001', GoogleKnowlege_Occupation='former mayor of cincinatti', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='former us senator', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='guitarist', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='journalist', count=8),
 Row(YEAR='2001', GoogleKnowlege_Occupation='model', count=2),
 Row(YEAR='2001', GoogleKnowlege_Occupation='muppet', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='musician', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='news anchor', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='professor', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='singer', count=2),
 Row(YEAR='2001', GoogleKnowlege_Occupation='sportscaster', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='stand-up comedian', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='stunt perfomrer', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='television actor', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='television actress', count=3),
 Row(YEAR='2001', GoogleKnowlege_Occupation='television host', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='television personality', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='television presenter', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='television producer', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='telvision personality', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='us senator', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='white house sommunications director', count=1),
 Row(YEAR='2001', GoogleKnowlege_Occupation='writer', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Author', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Broadcaster', count=2),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Comedian', count=3),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Critic', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Film director', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Filmmaker', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Former Assistant to the President for Communications', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Former Mayor of New York City', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Host', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Journalist', count=5),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Model', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='NA', count=2),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Singer-songwriter', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='Writer', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='activist', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='actor', count=64),
 Row(YEAR='2002', GoogleKnowlege_Occupation='actress', count=20),
 Row(YEAR='2002', GoogleKnowlege_Occupation='assistant secretary of defense', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='author', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='basketball player', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='commentator', count=2),
 Row(YEAR='2002', GoogleKnowlege_Occupation='editor', count=4),
 Row(YEAR='2002', GoogleKnowlege_Occupation='former american senator', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='former us representativ', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='former vice president', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='journalist', count=14),
 Row(YEAR='2002', GoogleKnowlege_Occupation='lawyer', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='minister', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='news anchor', count=3),
 Row(YEAR='2002', GoogleKnowlege_Occupation='novelist', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='rapper', count=3),
 Row(YEAR='2002', GoogleKnowlege_Occupation='rock band', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='singer-songwriter', count=5),
 Row(YEAR='2002', GoogleKnowlege_Occupation='soccer player', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='stand-up comedian', count=2),
 Row(YEAR='2002', GoogleKnowlege_Occupation='television Personality', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='television host', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='television personality', count=1),
 Row(YEAR='2002', GoogleKnowlege_Occupation='us senator', count=4),
 Row(YEAR='2002', GoogleKnowlege_Occupation='white house sommunications director', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='-', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Broadcaster', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Comedian', count=3),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Commentator', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Film actor', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Film actress', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Filmmaker', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Former U.S. Representative', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Former United States Secretary of State', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Former White House Press Secretary', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Historian', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Journalist', count=3),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Musician', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='NA', count=6),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Novelist', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Puzzle Creator', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Rapper', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Singer', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Stand-up comedian', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='Writer', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='actor', count=47),
 Row(YEAR='2003', GoogleKnowlege_Occupation='actress', count=24),
 Row(YEAR='2003', GoogleKnowlege_Occupation='american television personality', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='author', count=4),
 Row(YEAR='2003', GoogleKnowlege_Occupation='columnist', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='comedian', count=3),
 Row(YEAR='2003', GoogleKnowlege_Occupation='commentator', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='correspondent', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='designer', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='diplomat', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='editor', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='foreign policy expert', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='former majority leader', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='former national security advisio\\r', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='former us representative', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='former us senator', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='historian', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='journalist', count=7),
 Row(YEAR='2003', GoogleKnowlege_Occupation='lawyer', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='model', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='musician', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='neurosurgeon', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='pastor', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='political figure', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='political psychologist', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='radio host', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='singer', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='singer-songwriter', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='stand-up comedian', count=5),
 Row(YEAR='2003', GoogleKnowlege_Occupation='television actress', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='television host', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='television presenter', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='television producer', count=2),
 Row(YEAR='2003', GoogleKnowlege_Occupation='united states senator', count=1),
 Row(YEAR='2003', GoogleKnowlege_Occupation='us senator', count=4),
 Row(YEAR='2003', GoogleKnowlege_Occupation='writer', count=3),
 Row(YEAR='2004', GoogleKnowlege_Occupation='0', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Adviser', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='American Political figure', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Author', count=3),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Baseball player', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Broadcaster', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Businessman', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Columnist', count=2),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Comedian', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Commentator', count=2),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Documentary Filmmaker', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Film actor', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Film director', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Filmmaker', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Former American senator', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Former Assistant to the President for Communications', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Former Governor of New York', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Former United States Secretary of Labor', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Former United States Secretary of State', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Governor of Virginia', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Historian', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Journalist', count=7),
 Row(YEAR='2004', GoogleKnowlege_Occupation='NA', count=2),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Political Scientist', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Singer-songwriter', count=2),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Trumpeter', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='Writer', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='activist', count=2),
 Row(YEAR='2004', GoogleKnowlege_Occupation='actor', count=31),
 Row(YEAR='2004', GoogleKnowlege_Occupation='actress', count=15),
 Row(YEAR='2004', GoogleKnowlege_Occupation='adviser', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='american politician', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='analyst', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='assistant to the president for communications', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='author', count=6),
 Row(YEAR='2004', GoogleKnowlege_Occupation='basketball player', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='business magnate', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='civil rights activist', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='comedian', count=5),
 Row(YEAR='2004', GoogleKnowlege_Occupation='commentator', count=2),
 Row(YEAR='2004', GoogleKnowlege_Occupation='diplomat', count=2),
 Row(YEAR='2004', GoogleKnowlege_Occupation='film actor', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='film actress', count=1),
 Row(YEAR='2004', GoogleKnowlege_Occupation='former governor of montans', count=1),

### Find top occupation for every year.

In [43]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)
sqlContext

In [45]:
df.createOrReplaceTempView("df_table")

In [47]:
sqlContext.sql(" SELECT * FROM df_table ").show(n = 10)

+----+-------------------------+----------+--------+----------------+
|YEAR|GoogleKnowlege_Occupation|      Show|   Group|  Raw_Guest_List|
+----+-------------------------+----------+--------+----------------+
|1999|                    actor|01-11-1999|  Acting|  Michael J. Fox|
|1999|                 Comedian|01-12-1999|  Comedy| Sandra Bernhard|
|1999|       television actress|   1/13/99|  Acting|   Tracey Ullman|
|1999|             film actress|   1/14/99|  Acting|Gillian Anderson|
|1999|                    actor|   1/18/99|  Acting|David Alan Grier|
|1999|                    actor|   1/19/99|  Acting| William Baldwin|
|1999|          Singer-lyricist|   1/20/99|Musician|   Michael Stipe|
|1999|                    model|   1/21/99|   Media|  Carmen Electra|
|1999|                    actor|   1/25/99|  Acting| Matthew Lillard|
|1999|        stand-up comedian|   1/26/99|  Comedy|     David Cross|
+----+-------------------------+----------+--------+----------------+
only showing top 10 rows

In [67]:
df_top = sqlContext.sql(" SELECT YEAR ,GoogleKnowlege_Occupation, COUNT(*) AS COUNT FROM df_table group by YEAR,GoogleKnowlege_Occupation ORDER BY COUNT DESC")
df_top.show()

+----+-------------------------+-----+
|YEAR|GoogleKnowlege_Occupation|COUNT|
+----+-------------------------+-----+
|2002|                    actor|   64|
|2001|                    actor|   62|
|2000|                    actor|   61|
|1999|                    actor|   53|
|2003|                    actor|   47|
|1999|                  actress|   42|
|2013|                    actor|   37|
|2006|                    actor|   33|
|2014|                    actor|   31|
|2004|                    actor|   31|
|2010|                    actor|   30|
|2011|                    actor|   29|
|2000|                  actress|   29|
|2005|                    actor|   25|
|2003|                  actress|   24|
|2013|                  actress|   21|
|2012|                    actor|   20|
|2008|                    actor|   20|
|2002|                  actress|   20|
|2009|                    actor|   19|
+----+-------------------------+-----+
only showing top 20 rows

In [85]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc
windowSpec  = Window.partitionBy("YEAR").orderBy("YEAR")

from pyspark.sql.functions import dense_rank
df_top.withColumn("desnse_rank",dense_rank().over(windowSpec)).sort(desc("COUNT")).show(10)

+----+-------------------------+-----+-----------+
|YEAR|GoogleKnowlege_Occupation|COUNT|desnse_rank|
+----+-------------------------+-----+-----------+
|2002|                    actor|   64|          1|
|2001|                    actor|   62|          1|
|2000|                    actor|   61|          1|
|1999|                    actor|   53|          1|
|2003|                    actor|   47|          1|
|1999|                  actress|   42|          1|
|2013|                    actor|   37|          1|
|2006|                    actor|   33|          1|
|2004|                    actor|   31|          1|
|2014|                    actor|   31|          1|
+----+-------------------------+-----+-----------+
only showing top 10 rows

### Which guest have attended maximum shows

In [87]:
sqlContext.sql(" SELECT Raw_Guest_List as Guest_Name_who_attended_MaxShows, count(*) as max_shows FROM df_table group by Raw_Guest_List order by max_shows desc limit 1").show(n = 10)

+--------------------------------+---------+
|Guest_Name_who_attended_MaxShows|max_shows|
+--------------------------------+---------+
|                  Fareed Zakaria|       19|
+--------------------------------+---------+

### List occupation under each group

In [88]:
sqlContext.sql(" SELECT distinct Group, GoogleKnowlege_Occupation FROM df_table group by Group, GoogleKnowlege_Occupation order by Group, GoogleKnowlege_Occupation").show(n = 10)

+--------+-------------------------+
|   Group|GoogleKnowlege_Occupation|
+--------+-------------------------+
|Academic|                 Academic|
|Academic|                Economist|
|Academic|               Ethologist|
|Academic|                 Futurist|
|Academic|               Geneticist|
|Academic|                Historian|
|Academic|                Innovator|
|Academic|            Law professor|
|Academic|                Professor|
|Academic|             Psychologist|
+--------+-------------------------+
only showing top 10 rows

### How many show per group of year and occupation

In [89]:
sqlContext.sql(" SELECT Group, YEAR, GoogleKnowlege_Occupation, count(*) as Shows FROM df_table group by Group, YEAR, GoogleKnowlege_Occupation order by Group, YEAR, GoogleKnowlege_Occupation ").show(n = 10)

+--------+----+-------------------------+-----+
|   Group|YEAR|GoogleKnowlege_Occupation|Shows|
+--------+----+-------------------------+-----+
|Academic|2001|                Professor|    1|
|Academic|2001|                professor|    1|
|Academic|2003|                Historian|    1|
|Academic|2003|     foreign policy ex...|    1|
|Academic|2003|                historian|    2|
|Academic|2004|                Historian|    1|
|Academic|2005|                Economist|    1|
|Academic|2005|                Historian|    1|
|Academic|2005|                Professor|    1|
|Academic|2005|                  Scholar|    1|
+--------+----+-------------------------+-----+
only showing top 10 rows